/.idea
.terraform
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backup
node_modules
*.zip
logs
coverage
.env
terraform.tfvars
lint-result.*
/logs
.github
.vscode
jest
.auto-changelog
*.hbs
tsconfig.json
tslint.json
/src
jest.config.*